.editCard .Card {
  min-height: 50px;
  padding-left: 8px;
  padding-right: 15px;
}

.editCard .Card:hover {
  background: #fae29c;
}

.editCard-Textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 15px;
  margin-left: 4px;
}
