.notes {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background-color: #f4e9ba;
}
.notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  background-color: #febb58;
};

